<%# add navigation links to this file %>
<% if not current_user %>
  <li class="navbar-right"><%= link_to 'Sign in', signin_path %></li>
<% else %>
  <li class="navbar-right"><%= link_to current_user.username, current_user %></li>
<% end %>
